@import '~bootstrap/scss/bootstrap';

/********** FORM FIELDS DEFAULT CSS **********/
.form-control {
    border-color: #d6d6d6;
    border-radius: 2px;
}

.error-message {
    color: red;
}
/********** **********/
/********** **********/
/********** **********/
/********** **********/
/********** **********/